vti_encoding:SR|utf8-nl
vti_author:SR|CITYUMD\\chjiang
vti_modifiedby:SR|DESKTOP-8UETBFC\\thinkpad
vti_timelastmodified:TR|28 Jun 2021 11:53:28 -0000
vti_timecreated:TR|22 Jun 2021 07:11:27 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|28 Jun 2021 11:53:26 -0000
vti_cacheddtm:TX|28 Jun 2021 11:53:28 -0000
vti_filesize:IR|1279
vti_cachedlinkinfo:VX|S|../fonts/DINPro-Regular.eot S|../fonts/DINPro-Regular.eot S|../fonts/DINPro-Regular.woff S|../fonts/DINPro-Regular.svg S|../fonts/DINPro-Regular.ttf
vti_cachedsvcrellinks:VX|FSUS|fonts/DINPro-Regular.eot FSUS|fonts/DINPro-Regular.eot FSUS|fonts/DINPro-Regular.woff FSUS|fonts/DINPro-Regular.svg FSUS|fonts/DINPro-Regular.ttf
