vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 Jun 2021 10:10:02 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|CITYUMD\\chjiang
vti_modifiedby:SR|DESKTOP-8UETBFC\\thinkpad
vti_timecreated:TR|22 Jun 2021 10:02:30 -0000
vti_backlinkinfo:VX|News.html Publications.html index.html People.html Research.html Openings.html
vti_nexttolasttimemodified:TW|25 Jun 2021 02:58:30 -0000
vti_cacheddtm:TX|28 Jun 2021 10:10:02 -0000
vti_filesize:IR|3903
vti_cachedlinkinfo:VX|S|data:image/gif;base64,AAAA S|slider_files/previous.png S|data:image/gif;base64,AAAA S|slider_files/next.png S|slider_files/nbbtn.png S|slider_files/nbbtnmo.png S|slider_files/nbleft.png S|slider_files/nbright.png S|slider_files/nbleftdis.png S|slider_files/nbrightdis.png
vti_cachedsvcrellinks:VX|NSUS|data:image/gif;base64,AAAA FSUS|styles/slider_files/previous.png NSUS|data:image/gif;base64,AAAA FSUS|styles/slider_files/next.png FSUS|styles/slider_files/nbbtn.png FSUS|styles/slider_files/nbbtnmo.png FSUS|styles/slider_files/nbleft.png FSUS|styles/slider_files/nbright.png FSUS|styles/slider_files/nbleftdis.png FSUS|styles/slider_files/nbrightdis.png
